.book-list {
  display: flex;
  overflow-x: auto;
  justify-content: center;
}
.book-List h1 {
  font-size: 20px;
}
.book-list .book {
  margin-left: 10px;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
}

.btn-group .MuiButton-containedPrimary {
  font-size: 8px;
  margin-right: 5px;
}
#delete-button{
  color: rgb(194, 45, 45);
}
#inputFiled{
  color: white;
  font-weight: 400;
}

#listButtonDelete{
  background-color: red;
}