.search-page {
  width: 100%;
  height: 100%;
  position: relative;
}

.book-card {
  position: relative;
  display: inline-flex;
  padding: 13px 0px 13px 0px;
  flex-flow: column;
  margin-left: 24px;
}

.book-card img {
  border-radius: 5px;
  width: 200px;
  height: 245px;
  margin-right: 17px;
}

#input-boxx {
  background-color: gold;
}

#input-feld {
  width: 310px;
  height: 21px;
  border-radius: 6px;
}

.results {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results .book {
  margin-top: 20px;
  margin-right: 15px;
}



.collection-container {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

.list-title-input {
  border: none;
  pointer-events: none;
}

.list-title-input.is-active {
  border: 1px solid black;
  pointer-events: all;
}
